*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: sans-serif, 'Times New Roman', Times;
}

header{
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background: yellow;
}

body{
  background: orange;
}
header img{
  max-inline-size: 10%;
}

header p{
  font-size: calc(15% + 5vw);
  font-weight: bold;
}

section{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

button{
  border: 1px solid black;
  padding: 4px;
  font-weight: 600;
  background: yellow;
}

input{
  display: block;
  height: fill;
  border: none;
  border-bottom: 2px solid yellow;
  padding: 2px 5px;
}

textarea:focus, input:focus{
    outline: none;
    border-bottom: 2px solid;
}

ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  margin: 5px auto;
  background: lightyellow;
  padding: 5px;
}